# By: s-m-quadri@github
# Last Modified: 24 OCT 2021


# ======================================================================
# ======================================================================
#                    RULE - For working directories
# ======================================================================

# [STEP 01] Ignore All directories
*

# [STEP 02] Except the working ones
!/A1*
!/A2*
!/A3*
!/D1*
!/D2*

# ======================================================================
# ======================================================================



# ======================================================================
# ======================================================================
#            RULE - For sub files in the diffrent directories
# ======================================================================

# [STEP 01] Ignore All files
*/*

# [STEP 02] Except the essential ones
!/LICENSE
!/README.md
!/.gitignore
!*/.gitignore

# [STEP 03] Except the working ones
!*/color_cs50
!**.c
!**.h
!**.java

# ======================================================================
# ======================================================================