# By: s-m-quadri@github
# Last Modified: 24 OCT 2021


# ======================================================================
# ======================================================================
#                    RULE - For working directories
# ======================================================================

# [STEP 01] Ignore All directories
*

# [STEP 02] Except the working ones
!/A1_Practice_Programs
!/A2_Hacker_Earth
!/A3_CW

# ======================================================================
# ======================================================================



# ======================================================================
# ======================================================================
#            RULE - For sub files in the diffrent directories
# ======================================================================

# [STEP 01] Ignore All files
*/*

# [STEP 02] Except the working ones
!*/color_cs50
!/.gitignore
!*/.gitignore
!**.c
!**.h
!**.java

# ======================================================================
# ======================================================================