# By: s-m-quadri@github
# Last Modified: 24 OCT 2021


# ======================================================================
# ======================================================================
#                    RULE - For working directories
# ======================================================================

# [STEP 01] Ignore All directories
*

# [STEP 02] Except the working ones
!/DIEMS_Labs*
!/Practice_Programs*

# ======================================================================
# ======================================================================



# ======================================================================
# ======================================================================
#            RULE - For sub files in the diffrent directories
# ======================================================================

# [STEP 01] Ignore All files
*/*


# [STEP 02] Except the essential ones
!/DIEMS*/D*
!/DIEMS*/D*/CollageCodes
!/Practice*/C
!/Practice*/Java
!/LICENSE
!/README.md
!/.gitignore

# [STEP 03] Except the working ones
!**.c
!**.h
!**.java

# ======================================================================
# ======================================================================
