#side-bar{
  background-color: #006400;
  color: white;
  position: sticky;
  width: 300px;
  height: 100%;
  padding: 2rem;
  overflow-y: auto;
  overflow-x: hidden;
  flex: auto;
}

html{
  font-family: "Comfortaa";
}

h1{
  font-size: 50px;
  line-height: 1px
}

h2{
  font-size: 20px;
  opacity: 60%;
}

#search-input {
  font-family: "Comfortaa";
  color: #006400;
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  outline: none;
}

#search-input:focus{
  font-family: "Comfortaa";
  color: #006400;
}

#search {
  background: #7FB241;
  color: white;
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  outline: none;
}

#search:hover {
  background: #006400;
}

#search::after {
  content: "";
  clear: both;
  display: table;
}
